# Start OpenWebCam when an Android USB tethering interface (RNDIS or NCM) appears.
ACTION=="add|move", SUBSYSTEM=="net", DRIVERS=="rndis_host|cdc_ncm", TAG+="systemd", ENV{SYSTEMD_WANTS}+="openwebcam@$name.service"
